@font-face {
	font-family: 'iconfont'; /* project id 977183 */
	src: url('//at.alicdn.com/t/font_977183_rzq6tpq0ux.eot');
	src: url('//at.alicdn.com/t/font_977183_rzq6tpq0ux.eot?#iefix')
			format('embedded-opentype'),
		url('//at.alicdn.com/t/font_977183_rzq6tpq0ux.woff2') format('woff2'),
		url('//at.alicdn.com/t/font_977183_rzq6tpq0ux.woff') format('woff'),
		url('//at.alicdn.com/t/font_977183_rzq6tpq0ux.ttf') format('truetype'),
		url('//at.alicdn.com/t/font_977183_rzq6tpq0ux.svg#iconfont')
			format('svg');
}
