@import './ali.scss';

$barH: 44px;

.iconfont-comp {
	font-family: 'iconfont' !important;
	font-style: normal;
	font-size: 20px;
	line-height: 28px;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 1px;
	-moz-osx-font-smoothing: grayscale;
	&.top-bar-icon {
		cursor: move;
	}
}
.iconfont-comp-static {
	font-family: 'iconfont' !important;
	font-style: normal;
	font-size: 20px;
	line-height: 28px;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 1px;
	-moz-osx-font-smoothing: grayscale;
	&.help {
		font-size: 22px;
	}
}

.edit-module {
	box-sizing: border-box;
	position: relative;
	&.select {
		border: 1px dashed #fe8c02;
	}
}

.edit-module-options {
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	display: flex;
	right: 0;
	top: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	flex-direction: column;
	z-index: 999;
	.iconfont-comp {
		font-size: 26px;
	}
}
.edit-module-drag-key {
	cursor: move;
}
.edit-module-edit-icon {
	cursor: pointer;
}

blockquote {
	background-color: #eae6f3;
	border-left: 1em solid #5236a0;
	margin: 1em 0 1em;
	padding: 1em 1em 1em 1em;
	position: relative;
	color: #888;
}
blockquote:before {
	color: #392570;
	// content: '\201C';
	font-size: 5em;
	line-height: 0em;
	margin-right: 0em;
	vertical-align: -0.4em;
}
blockquote:after {
	color: #392570;
	// content: '\201D';
	font-size: 5em;
	position: absolute;
	right: 3px;
	bottom: 0em;
	line-height: 0.1em;
}
